.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/firebase
**/firestore
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
src/firebase/init.js
.firebaserc
firebase.json
firestore.rules
firestore.indexes.json
.firebase/hosting.0.cache
